@import "tailwindcss";

@theme {
  --color-hbs-red: #E30613;
  --color-hbs-dark: #1A1A1A;
  --color-hbs-silver: #C0C0C0;
}

/* כאן אפשר להוסיף Reset בסיסי אם תרצה */
body {
  @apply bg-hbs-dark text-white font-sans;
}

*{
  cursor: url('https://cdn.cursors-4u.net/previews/red-umbro-e6804255-32.webp') 32 32, auto !important;
}