@import "tailwindcss";

@theme {
  --color-hbs-red: #E30613;
  --color-hbs-dark: #1A1A1A;
  --color-hbs-silver: #C0C0C0;
}

/* כאן אפשר להוסיף Reset בסיסי אם תרצה */
body {
  @apply bg-hbs-dark text-white font-sans;
}

*{
  cursor: url('https://cdn.cursors-4u.net/previews/red-umbro-e6804255-32.webp') 32 32, auto !important;
}


 @layer utilities {
  @keyframes neon-pulse {

    0%,
    100% {
      opacity: 1;
      filter: drop-shadow(0 0 5px currentColor);
    }

    50% {
      opacity: 0.8;
      filter: drop-shadow(0 0 20px currentColor);
    }
  }

  .animate-neon {
    animation: neon-pulse 0.6s ease-in-out infinite;
  }
} 



/* מצב הצלחה - ירוק זרחני */
.switch-success {
  box-shadow: 0px 0px 1px #22c55e inset, 0px 0px 2px #22c55e inset, 0px 0px 10px #22c55e inset, 0px 0px 40px #22c55e, 0px 0px 100px #22c55e, 0px 0px 5px #22c55e !important;
  border: 2px solid white !important;
  background-color: #4ade80 !important;
}

.switch-success svg path {
  fill: white !important;
}

.switch-success svg {
  filter: drop-shadow(0px 0px 5px #22c55e);
}

/* מצב שגיאה - אדום זרחני */
.switch-error {
  box-shadow: 0px 0px 1px #ef4444 inset, 0px 0px 2px #ef4444 inset, 0px 0px 10px #ef4444 inset, 0px 0px 40px #ef4444, 0px 0px 100px #ef4444, 0px 0px 5px #ef4444 !important;
  border: 2px solid white !important;
  background-color: #f87171 !important;
}

.switch-error svg path {
  fill: white !important;
}

.switch-error svg {
  filter: drop-shadow(0px 0px 5px #ef4444);
}

/* אנימציית הבהוב למצבי קצה */
.animate-status-blink {
  animation: blink 0.5s ease-in-out infinite;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }
}
 